{% extends 'portfolio_app/home.html' %}
{% load mathfilters %} <!-- have the django-mathfilters package installed -->
{% load static %}

{% block content %}
<div class="container mt-4 mb-4">
    <h1 class="text-center text-primary mb-3">ROCKRIMMON GOLF OGS</h1>

    <div class="row">
        <!-- This column is for the notebooks list -->
        <div class="col-lg-8 col-md-7 mb-4">
            <ul class="list-group">
                {% if notebooks %}
                    {% for notebook in notebooks %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <a href="{% url 'notebook_detail' notebook.id %}" class="text-success fw-bold">{{ notebook }}</a>
                                <div>Average Score: <span class="badge bg-secondary">{{ notebook.average_score|floatformat:0 }}</span></div>
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff or notebook.golfer.user == request.user %}
                                    <div>
                                        <a href="{% url 'add_round' notebook.id %}" class="btn btn-sm btn-success me-2">Add Round</a>
                                        <a href="{% url 'delete_round' notebook.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">There are no notebooks available.</li>
                {% endif %}
            </ul>
        </div>

        <!-- This column is for the image -->
        <div class="col-lg-4 col-md-5 mb-4">
            <img src="{% static 'images/score1.gif' %}" alt="Score Image" class="img-fluid">
        </div>
    </div>

    <!-- Leaderboard Section -->
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center mb-3">Leaderboard</h2>
            {% with notebooks|dictsort:"average_score" as sorted_notebooks %}
                {% if sorted_notebooks %}
                    {% with sorted_notebooks.0 as leader %}
                        <div class="alert alert-success" role="alert">
                            <strong>Leader:</strong> {{ leader.golfer.user.username }} with an average score of {{ leader.average_score|floatformat:0 }}
                        </div>
                    {% endwith %}
                {% else %}
                    <p class="text-center">No scores to display on the leaderboard.</p>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
